<section>
    <h3 style="text-align: center;">Welcome to our Login page</h3><br><br>

    <form action="login" method="POST">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button class="btn" type="submit">Submit</button>

    </form>
    <br><br><br>
    
    <p class="warning-text">{{message}}</p>
    
</section>